{{#extend "stylesheets"}}
    <link rel='stylesheet' href='/stylesheets/diagram.css' />
{{/extend}}

<div class="wrapper">
    <canvas height="800" width="800" id="c"></canvas>
</div>

{{#extend "scripts"}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.1/fabric.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
        var
        diagram = {{{json diagram}}};
        console.log(diagram);
    </script>
    <script type="text/javascript" src="/javascripts/diagram.js"></script>

{{/extend}}