{{#extend "stylesheets"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel='stylesheet' href='/stylesheets/diagram.css' />
{{/extend}}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#diagram" data-toggle="tab"><h2>Diagram</h2></a></li>
        <li><a href="#chat" data-toggle="tab"><h2>Chat</h2></a></li>
        <li><a href="#users" data-toggle="tab"><h2>Users</h2></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="diagram">
            <div class='menu'>
                <button id="entity-btn" class="btn btn-default" type="button" data-toggle="modal" data-target="#entity-modal" title="Click to add a new entity">Entity</button>
                <div id="entity-modal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                <h4 class="modal-title">New Entity</h4>
                            </div>
                            <div class="modal-body">
                                <form id="new-entity-form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="entity-name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="entity-name" class="form-control" name="name" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4 class="text-center">Fields</h4>
                                    <hr>
                                    <div id="field-wrapper">

                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="additional-field" class="btn btn-default pull-right">
                                            <span class="glyphicon glyphicon-plus"></span> Add field
                                        </button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" id="create-entity" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <button id="lock-btn" class="btn btn-default" type="button">Lock</button>

                <button id="share-btn" class="btn btn-default" type="button" data-toggle="modal" data-target="#share-modal">Share</button>
                <div id="share-modal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                <h4 class="modal-title">Share Diagram</h4>
                            </div>
                            <div class="modal-body">
                                <form id="share-form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="datatype-${fieldNumber}" class="col-sm-2 control-label">Datatype</label>
                                        <div class="col-sm-6">
                                            <select id="share-select" class='select-picker' name="share-select" title="Select users" multiple>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" id="share-submit" class="btn btn-primary">Share</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="wrapper">
                <canvas height="700" width="900" id="c"></canvas>
            </div>
        </div>

        <div class="tab-pane" id="chat">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Chat </div>
                    <div class="panel-body">
                        <div id="message-panel" class="container">
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="messageText" type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button id="messageSend" class="btn btn-default" type="button">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="users">
            <h2>Current Users Online</h2>
            <ul id="user-list">

            </ul>
        </div>

    </div>
</div>


{{#extend "scripts"}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.1/fabric.min.js"></script>
    <script src="/javascripts/fabric.canvasex.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
        var
        user = {{{json user}}}
        diagram = {{{json diagram}}};
        console.log(diagram);
    </script>
    <script type="text/javascript" src="/javascripts/diagram.js"></script>

{{/extend}}